@model DownloadMusicViewModel

<!-- Player section -->
<section class="player-section set-bg" data-setbg="@Model.ImageFilePath">
    <div class="player-box">
        <div class="tarck-thumb-warp">
            <div class="tarck-thumb">
                <img src="~/img/wave-thumb.jpg" alt="">
                <button onclick="wavesurfer.playPause();" class="wp-play"></button>
            </div>
        </div>
        <div class="wave-player-warp">
            <div class="row">
                <div class="col-lg-8">
                    <div class="wave-player-info">
                        <h2 class="rtl line-height">@Model.Vocalist</h2>
                        <p class="rtl">@Model.TitleMusic</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="songs-links">
                        <a href=""><img src="~/img/icons/p-1.png" alt=""></a>
                        <a href=""><img src="~/img/icons/p-2.png" alt=""></a>
                        <a href=""><img src="~/img/icons/p-3.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div id="wavePlayer" class="clierfix">
                <div id="audiowave" data-waveurl="@Model.MusicFilePath"></div>
                <div id="currentTime"></div>
                <div id="clipTime"></div>
                <!-- Player Controls -->
                <div class="wavePlayer_controls">
                    <button class="jp-prev player_button" onclick="wavesurfer.skipBackward();"></button>
                    <button class="jp-play player_button" onclick="wavesurfer.playPause();"></button>
                    <button class="jp-next player_button" onclick="wavesurfer.skipForward();"></button>
                    <button class="jp-stop player_button" onclick="wavesurfer.stop();"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Player section end -->

<!-- Songs details section -->
<section class="songs-details-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="song-details-box">
                            <h3>درباره خواننده</h3>
                            <div class="artist-details rtl text-right">
                                <img src="~/img/artist.jpg" alt="">
                                <div class="ad-text">
                                    <h5>@Model.Vocalist</h5>
                                    <span>خواننده</span>
                                    <p class="text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="song-details-box">
                            <h3>دیگر آهنگ های این خواننده</h3>
                            <!-- song -->
                            <div class="song-item">
                                <div class="row">
                                    <div class="col-xl-5 col-lg-12 col-md-5">
                                        <div class="song-info-box">
                                            <img src="~/img/songs/1.jpg" alt="">
                                            <div class="song-info rtl">
                                                <h4>بابک جهانبخش</h4>
                                                <p>حیف</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-12 col-md-7">
                                        <div class="single_player_container">
                                            <div class="single_player">
                                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_1" data-url="music-files/1.mp3"></div>
                                                <div class="jp-audio jp_container_1" role="application" aria-label="media player">
                                                    <div class="jp-gui jp-interface">

                                                        <!-- Player Controls -->
                                                        <div class="player_controls_box">
                                                            <button class="jp-prev player_button" tabindex="0"></button>
                                                            <button class="jp-play player_button" tabindex="0"></button>
                                                            <button class="jp-next player_button" tabindex="0"></button>
                                                            <button class="jp-stop player_button" tabindex="0"></button>
                                                        </div>
                                                        <!-- Progress Bar -->
                                                        <div class="player_bars">
                                                            <div class="jp-progress">
                                                                <div class="jp-seek-bar">
                                                                    <div>
                                                                        <div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-no-solution">
                                                        <span>Update Required</span>
                                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- song -->
                            <div class="song-item">
                                <div class="row">
                                    <div class="col-xl-5 col-lg-12 col-md-5">
                                        <div class="song-info-box">
                                            <img src="~/img/songs/2.jpg" alt="">
                                            <div class="song-info rtl">
                                                <h4>بابک جهانبخش</h4>
                                                <p>صدای عشق</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-12 col-md-7">
                                        <div class="single_player_container">
                                            <div class="single_player">
                                                <div class="jp-jplayer jplayer" data-ancestor=".jp_container_2" data-url="music-files/2.mp3"></div>
                                                <div class="jp-audio jp_container_2" role="application" aria-label="media player">
                                                    <div class="jp-gui jp-interface">

                                                        <!-- Player Controls -->
                                                        <div class="player_controls_box">
                                                            <button class="jp-prev player_button" tabindex="0"></button>
                                                            <button class="jp-play player_button" tabindex="0"></button>
                                                            <button class="jp-next player_button" tabindex="0"></button>
                                                            <button class="jp-stop player_button" tabindex="0"></button>
                                                        </div>
                                                        <!-- Progress Bar -->
                                                        <div class="player_bars">
                                                            <div class="jp-progress">
                                                                <div class="jp-seek-bar">
                                                                    <div>
                                                                        <div class="jp-play-bar"><div class="jp-current-time" role="timer" aria-label="time">0:00</div></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-no-solution">
                                                        <span>Update Required</span>
                                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Songs details section -->

<!-- Similar Songs section -->
<section class="similar-songs-section">
    <div class="container-fluid">
        <h3 class="text-right">آهنگ های پیشنهادی</h3>
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="similar-song">
                    <img class="ss-thumb" src="img/playlist/1.jpg" alt="">
                    <h4 class="rtl text-center">بابک جهانبخش</h4>
                    <p class="rtl text-center">صدای عشق</p>
                    <div class="single_player">
                        <div class="jp-jplayer jplayer" data-ancestor=".jp_container_8"
                             data-url="music-files/3.mp3"></div>
                        <div class="jp-audio jp_container_8" role="application" aria-label="media player">
                            <div class="jp-gui jp-interface">
                                <!-- Player Controls -->
                                <div class="ss-controls">
                                    <div class="songs-links">
                                        <a href=""><img src="~/img/icons/p-1.png" alt=""></a>
                                        <a href=""><img src="~/img/icons/p-2.png" alt=""></a>
                                        <a href=""><img src="~/img/icons/p-3.png" alt=""></a>
                                    </div>
                                    <div class="player_controls_box">
                                        <button class="jp-prev player_button" tabindex="0"></button>
                                        <button class="jp-play player_button" tabindex="0"></button>
                                        <button class="jp-next player_button" tabindex="0"></button>
                                        <button class="jp-stop player_button" tabindex="0"></button>
                                    </div>
                                </div>
                                <!-- Progress Bar -->
                                <div class="player_bars">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div>
                                                <div class="jp-play-bar">
                                                    <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                </div>
                            </div>
                            <div class="jp-no-solution">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or
                                update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="similar-song">
                    <img class="ss-thumb" src="~/img/playlist/2.jpg" alt="">
                    <h4 class="rtl text-center">بابک جهانبخش</h4>
                    <p class="rtl text-center">صدای عشق</p>
                    <div class="single_player">
                        <div class="jp-jplayer jplayer" data-ancestor=".jp_container_9"
                             data-url="music-files/4.mp3"></div>
                        <div class="jp-audio jp_container_9" role="application" aria-label="media player">
                            <div class="jp-gui jp-interface">
                                <!-- Player Controls -->
                                <div class="ss-controls">
                                    <div class="songs-links">
                                        <a href=""><img src="~/img/icons/p-1.png" alt=""></a>
                                        <a href=""><img src="~/img/icons/p-2.png" alt=""></a>
                                        <a href=""><img src="~/img/icons/p-3.png" alt=""></a>
                                    </div>
                                    <div class="player_controls_box">
                                        <button class="jp-prev player_button" tabindex="0"></button>
                                        <button class="jp-play player_button" tabindex="0"></button>
                                        <button class="jp-next player_button" tabindex="0"></button>
                                        <button class="jp-stop player_button" tabindex="0"></button>
                                    </div>
                                </div>
                                <!-- Progress Bar -->
                                <div class="player_bars">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div>
                                                <div class="jp-play-bar">
                                                    <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                </div>
                            </div>
                            <div class="jp-no-solution">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or
                                update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="similar-song">
                    <img class="ss-thumb" src="~/img/playlist/3.jpg" alt="">
                    <h4 class="rtl text-center">بابک جهانبخش</h4>
                    <p class="rtl text-center">صدای عشق</p>
                    <div class="single_player">
                        <div class="jp-jplayer jplayer" data-ancestor=".jp_container_10"
                             data-url="music-files/5.mp3"></div>
                        <div class="jp-audio jp_container_10" role="application" aria-label="media player">
                            <div class="jp-gui jp-interface">
                                <!-- Player Controls -->
                                <div class="ss-controls">
                                    <div class="songs-links">
                                        <a href=""><img src="~/img/icons/p-1.png" alt=""></a>
                                        <a href=""><img src="~/img/icons/p-2.png" alt=""></a>
                                        <a href=""><img src="~/img/icons/p-3.png" alt=""></a>
                                    </div>
                                    <div class="player_controls_box">
                                        <button class="jp-prev player_button" tabindex="0"></button>
                                        <button class="jp-play player_button" tabindex="0"></button>
                                        <button class="jp-next player_button" tabindex="0"></button>
                                        <button class="jp-stop player_button" tabindex="0"></button>
                                    </div>
                                </div>
                                <!-- Progress Bar -->
                                <div class="player_bars">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div>
                                                <div class="jp-play-bar">
                                                    <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                </div>
                            </div>
                            <div class="jp-no-solution">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or
                                update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="similar-song">
                    <img class="ss-thumb" src="~/img/playlist/4.jpg" alt="">
                    <h4 class="rtl text-center">بابک جهانبخش</h4>
                    <p class="rtl text-center">صدای عشق</p>
                    <div class="single_player">
                        <div class="jp-jplayer jplayer" data-ancestor=".jp_container_11"
                             data-url="music-files/7.mp3"></div>
                        <div class="jp-audio jp_container_11" role="application" aria-label="media player">
                            <div class="jp-gui jp-interface">
                                <!-- Player Controls -->
                                <div class="ss-controls">
                                    <div class="songs-links">
                                        <a href=""><img src="~/img/icons/p-1.png" alt=""></a>
                                        <a href=""><img src="~/img/icons/p-2.png" alt=""></a>
                                        <a href=""><img src="~/img/icons/p-3.png" alt=""></a>
                                    </div>
                                    <div class="player_controls_box">
                                        <button class="jp-prev player_button" tabindex="0"></button>
                                        <button class="jp-play player_button" tabindex="0"></button>
                                        <button class="jp-next player_button" tabindex="0"></button>
                                        <button class="jp-stop player_button" tabindex="0"></button>
                                    </div>
                                </div>
                                <!-- Progress Bar -->
                                <div class="player_bars">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div>
                                                <div class="jp-play-bar">
                                                    <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                </div>
                            </div>
                            <div class="jp-no-solution">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or
                                update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Similar Songs section end -->